{
  "presets": [
    ["es2015", {
      "modules": false,
      "loose": true
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ],
  "comments": false
}
