{
  "presets": [
    ["es2015-loose"],
    ["stage-0"]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-es2015-modules-commonjs",
    [
      "transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ]
  ]
}
